<div class="header" style="display: flex; align-items: center; justify-content: space-between; padding: 10px; background-color: #f8f9fa; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div style="display: flex; align-items: center;">
        <img src="../../../assets/list_138849.png" alt="Logo" style="height: 40px; margin-right: 10px;">
        <h1 style="margin: 0;">My To-Do List</h1>
    </div>
    <div style="flex-grow: 1; margin: 0 20px;">
        <input type="text" placeholder="Search..." style="width: 100%; padding: 10px; border: 1px solid #ced4da; border-radius: 4px; font-size: 16px;">
    </div>
    <div style="display: flex; align-items: center;">
        <button class="btn" style="margin-right: 10px; background-color: #3d9427;color: white;">About us</button>
       
            <span class="logout-text p-2">Logout</span>
            <img id="logout" src="../../../assets/log-out_3168315.png" alt="Logout Logo" class="logout-logo">
         
          
    </div>
    
</div>

