<div class="container d-flex justify-content-center align-items-center " style="height: 100%;">
    <div class="task-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="newTask" class="font-weight-bold mb-2">New Task</label>
            <input
              type="text"
              id="newTask"
              class="form-control"
              [(ngModel)]="newTaskTitle"
              placeholder="Add New task..."
              autofocus
            />
          </div>
          <button
            class="btn btn-primary mt-2 add-task-btn"
            style="width: 15%;"
            (click)="addTask()"
            [disabled]="!newTaskTitle.trim()"
          >
            Add Task
          </button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <ul class="list-group task-list-container">
            <li
              *ngFor="let task of tasks"
              class="list-group-item d-flex justify-content-between align-items-center mb-2"
            >
              <span
                [class.completed]="task.completed"
                class="task-title flex-grow-1"
                >{{ task.title }}</span
              >
              <div>
                <button
                  class="btn btn-sm btn mr-2"
                  (click)="markAsCompleted(task)"
                  [disabled]="task.completed"
                >
                <img src="../../../assets/check_5197544.png" alt="Logout Logo" class="logout-logo">
                </button>
                <button
                  class="btn btn-sm btn mr-2"
                  (click)="updateTask(task)"
                  [disabled]="task.completed"
                >
                <img src="../../../assets/pencil_282091.png" alt="Logout Logo" class="logout-logo">
                </button>
                <button
                  class="btn btn-sm btn"
                  (click)="deleteTask(task.id)"
                >
                <img src="../../../assets/delete_6861362.png" alt="Logout Logo" class="logout-logo">
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  